# Project exclude paths
/.gradle/
/AppointmentBookingToDoctorRestService/stage1/build/
/AppointmentBookingToDoctorRestService/stage1/out/
/AppointmentBookingToDoctorRestService/stage1/out/production/classes/